
<form action='/favorite_color' method='POST'>
    
        <p>What is your favorite color?</p>
        {{#each colors}}
        <p>
            <input id= '{{this}}' type="radio" name="color" value="{{this}}" style='background-color:{{this}};'/>
            <label for="{{this}}" style="color:{{this}};">{{this}}</label>
        </p>
        {{/each}}
        <input id='submit' type="submit" value="Submit"/>
</form>